 {% extends "base.html" %}

{% block conteudo %}
{% for dado in dados %}
<div class="col-md-6">
    <div class="row g-0 border-rounded overflow-hidden flex-md-row mb-4 shadow-in h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">{{ dado.categoria }}</strong>
            <h3 class="mb-3" style="font-family: 'Arial', sans-serif; font-size: 24px;">{{ dado.titulo }}</h3>
            <div class="mb-2 text-muted" style="font-family: 'Arial', sans-serif; font-size: 16px;">{{ dado.data }}</div>
            <p class="card-text mb-4" style="font-family: 'Georgia', serif; font-size: 16px;">This is a wider card with supporting text below as a natural lead-in to additional content</p>
            <a href="m" class="stretched-link" style="font-family: 'Arial', sans-serif; font-size: 16px; color: #007BFF;">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
            <div class="p-4 mb-3 bg-body-tertiary rounded">
                <h4 class="Sobre" style="font-family: 'Helvetica Neue', sans-serif; font-size: 20px; border-bottom: 2px solid #007BFF;">About</h4>
                <p class="mb-0" style="font-family: 'Arial', sans-serif; font-size: 16px;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos saepe dignissimos, a animi libero id tempora accusamus minima sunt amet quaerat sint odit? Cumque, deleniti voluptates beatae ut obcaecati illum!
                </p>
            </div>
        </div>
</div>
{% endfor %}

{% endblock %}
